.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;

  .footer-icons {
    list-style: none;

    ul {
      li {
        display: inline;
        font-size: 1.8em;
      }
    }
  }
}
